<div class="bo-footer-connect">
  <span class="bo-footer-lbl">// Connect:</span>
  <a href="mailto:sweshinfosec@gmail.com"        title="Email"     class="bo-flink">✉</a>
  <a href="https://twitter.com/SweshInfoSec"     title="Twitter/X" class="bo-flink">𝕏</a>
  <a href="https://github.com/sweshinfosec"      title="GitHub"    class="bo-flink">⌥ GitHub</a>
  <a href="https://linkedin.com/in/sweshinfosec" title="LinkedIn"  class="bo-flink">in</a>
  <a href="https://youtube.com/@SweshInfoSec"    title="YouTube"   class="bo-flink">▶</a>
  <a href="https://instagram.com/sweshinfosec"   title="Instagram" class="bo-flink">◈</a>
  <a href="https://facebook.com/sweshinfosec"    title="Facebook"  class="bo-flink">f</a>
  <a href="https://discord.gg/sweshinfosec"      title="Discord"   class="bo-flink">⬡</a>
</div>
